Athena Serverless ETL/stepfunction.json
{
  "Comment": "A state machine that submits a Job to add partition and perform ETL using Athena",
  "StartAt": "Add Partition",
  "States": {
    "Add Partition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:xxxxxxxxxxxxxx:function:add-partition",
      "ResultPath": "$.AddPartition",
      "Next": "Add Partition Completed?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ]
    },
    "Add Partition Completed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.AddPartition",
          "StringEquals": "FAILED",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.AddPartition",
          "StringEquals": "SUCCEEDED",
          "Next": "Start ETL"
        }
      ]
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "Add Partition Job Failed",
      "Error": "FAILED"
    },
    "Start ETL": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:xxxxxxxxxxxxxx:function:execute-etl",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Wait X Seconds",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ]
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get ETL Status"
    },
    "Get ETL Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:xxxxxxxxxxxxxx:function:get-etl-status",
      "Next": "ETL Completed?",
      "InputPath": "$",
      "ResultPath": "$.ETLStatus"
    },
    "ETL Completed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ETLStatus",
          "StringEquals": "FAILED",
          "Next": "ETL Failed"
        },
        {
          "Variable": "$.ETLStatus",
          "StringEquals": "SUCCEEDED",
          "Next": "ETL Succeeded"
        },
        {
          "Variable": "$.ETLStatus",
          "StringEquals": "RUNNING",
          "Next": "Wait X Seconds"
        }
      ]
    },
    "ETL Failed": {
      "Type": "Fail",
      "Cause": "ETL Job Failed",
      "Error": "FAILED"
    },
    "ETL Succeeded": {
      "Type": "Succeed"
    }
  }
}
